@charset "UTF-8";

@font-face {
  font-family: 'dobreprogramy';
  src: url("dobreprogramy.eot");
  src: local('☺'), url("dobreprogramy.eot?#iefix") format('embedded-opentype'),
                   url("dobreprogramy.svg#dobreprogramy") format('svg'),
                   url("dobreprogramy.woff") format('woff'),
                   url("dobreprogramy.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'dobreprogramy';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-align:center;
}*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'dobreprogramy';
  font-style: normal;
  font-weight: normal;
  text-align: center;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

/*i[class^="icon-"]:before,
i[class*=" icon-"]:before {
  font-family: 'dobreprogramy';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-align:center;
}

    */


    .icon-left:before { content: '\2190'; } /* '←' */
    .icon-up:before { content: '\2191'; } /* '↑' */
    .icon-right:before { content: '\2192'; } /* '→' */
    .icon-down:before { content: '\2193'; } /* '↓' */
    .icon-level-down:before { content: '\21b3'; } /* '↳' */
    .icon-home:before { content: '\2302'; } /* '⌂' */
    .icon-fast-fw:before { content: '\23e9'; } /* '⏩' */
    .icon-fast-bw:before { content: '\23ea'; } /* '⏪' */
    .icon-up-dir:before { content: '\25b4'; } /* '▴' */
    .icon-play:before { content: '\25b6'; } /* '▶' */
    .icon-right-dir:before { content: '\25b8'; } /* '▸' */
    .icon-down-dir:before { content: '\25be'; } /* '▾' */
    .icon-left-dir:before { content: '\25c2'; } /* '◂' */
    .icon-cloud:before { content: '\2601'; } /* '☁' */
    .icon-th-list:before { content: '\2630'; } /* '☰' */
    .icon-heart-empty:before { content: '\2661'; } /* '♡' */
    .icon-heart:before { content: '\2665'; } /* '♥' */
    .icon-heart-1:before { content: '\e801'; } /* '' */
    .icon-th:before { content: '\268f'; } /* '⚏' */
    .icon-tools:before { content: '\2692'; } /* '⚒' */
    .icon-cog:before { content: '\2699'; } /* '⚙' */
    .icon-attention:before { content: '\26a0'; } /* '⚠' */
    .icon-edit:before { content: '\270d'; } /* '✍' */
    .icon-feather:before { content: '\2712'; } /* '✒' */
    .icon-ok:before { content: '\2713'; } /* '✓' */
    .icon-ok-circle:before { content: '\2714'; } /* '✔' */
    .icon-cancel:before { content: '\2715'; } /* '✕' */
    .icon-cancel-circle:before { content: '\2716'; } /* '✖' */
    .icon-quote-left:before { content: '\275d'; } /* '❝' */
    .icon-plus-circle:before { content: '\2795'; } /* '➕' */
    .icon-minus-circle:before { content: '\2796'; } /* '➖' */
    .icon-forward:before { content: '\27a6'; } /* '➦' */
    .icon-cw:before { content: '\27f3'; } /* '⟳' */
    .icon-left-circle:before { content: '\e4a1'; } /* '' */
    .icon-right-circle:before { content: '\e4a2'; } /* '' */
    .icon-up-circle:before { content: '\e4a3'; } /* '' */
    .icon-down-circle:before { content: '\e4a4'; } /* '' */
    .icon-help-circle:before { content: '\e704'; } /* '' */
    .icon-info-circle:before { content: '\e705'; } /* '' */
    .icon-reply:before { content: '\e712'; } /* '' */
    .icon-reply-all:before { content: '\e713'; } /* '' */
    .icon-code:before { content: '\e714'; } /* '' */
    .icon-export:before { content: '\e715'; } /* '' */
    .icon-retweet:before { content: '\e717'; } /* '' */
    .icon-comment:before { content: '\e718'; } /* '' */
    .icon-location:before { content: '\e724'; } /* '' */
    .icon-rss:before { content: '\e73a'; } /* '' */
    .icon-share:before { content: '\e73c'; } /* '' */
    .icon-basket:before { content: '\e73d'; } /* '' */
    .icon-resize-full:before { content: '\e744'; } /* '' */
    .icon-resize-small:before { content: '\e746'; } /* '' */
    .icon-popup:before { content: '\e74c'; } /* '' */
    .icon-down-open:before { content: '\e75c'; } /* '' */
    .icon-left-open:before { content: '\e75d'; } /* '' */
    .icon-right-open:before { content: '\e75e'; } /* '' */
    .icon-up-open:before { content: '\e75f'; } /* '' */
    .icon-arrows-cw:before { content: '\e760'; } /* '' */
    .icon-back-in-time:before { content: '\e771'; } /* '' */
    .icon-list:before { content: '\e782'; } /* '' */
    .icon-off:before { content: '\e78e'; } /* '' */
    .icon-equalizer:before { content: '\e795'; } /* '' */
    .icon-android:before { content: '\e802'; } /* '' */
    .icon-apple:before { content: '\e803'; } /* '' */
    .icon-apple_ios:before { content: '\e804'; } /* '' */
    .icon-dobreprogramy:before { content: '\e806'; } /* '' */
    .icon-linux:before { content: '\e807'; } /* '' */
    .icon-pc:before { content: '\e808'; } /* '' */
    .icon-tablet:before { content: '\e809'; } /* '' */
    .icon-windows:before { content: '\e80a'; } /* '' */
    .icon-download:before { content: '\e810'; } /* '' */
    .icon-star-half:before { content: '\e811'; } /* '' */
    .icon-star:before { content: '\e800'; } /* '' */
    .icon-star-empty:before { content: '\e813'; } /* '' */
    .icon-windows-phone:before { content: '\e812'; } /* '' */
    .icon-paint-roller:before { content: '\e815'; } /* '' */
    .icon-link-ext:before { content: '\f08e'; } /* '' */
    .icon-docs:before { content: '\f0c5'; } /* '' */
    .icon-jabber:before { content: '\f317'; } /* '' */
    .icon-mic:before { content: '🎤'; } /* '\1f3a4' */
    .icon-award:before { content: '🏉'; } /* '\1f3c9' */
    .icon-award-1:before { content: '\e805'; } /* '' */
    .icon-thumbs-up-1:before { content: '\e80b'; } /* '' */
    .icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
    .icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
    .icon-user:before { content: '👤'; } /* '\1f464' */
    .icon-users:before { content: '👥'; } /* '\1f465' */
    .icon-pin:before { content: '📌'; } /* '\1f4cc' */
    .icon-search:before { content: '🔍'; } /* '\1f50d' */
    .icon-lock:before { content: '🔒'; } /* '\1f512' */
    .icon-lock-open:before { content: '🔓'; } /* '\1f513' */
    .icon-link:before { content: '🔗'; } /* '\1f517' */

    /*DP.Player Icons*/
    .icon-player-play:before { content: '\1f520'; }
    .icon-player-pause:before { content: '\1f521'; }
    .icon-player-stop:before { content: '\1f522'; }
    .icon-player-fast-forward:before { content: '\1f523'; }
    .icon-player-fast-backward:before { content: '\1f524'; }
    .icon-player-next-track:before { content: '\1f525'; }
    .icon-player-previous-track:before { content: '\1f526'; }
    .icon-player-replay:before { content: '\1f527'; }
    .icon-player-volume-full:before { content: '\1f528'; }
    .icon-player-volume-medium:before { content: '\1f529'; }
    .icon-player-volume-low:before { content: '\1f530'; }
    .icon-player-volume-muted:before { content: '\1f531'; }
    .icon-player-share:before { content: '\1f532'; }
    .icon-player-hd:before { content: '\1f533'; }
