/*!CK:2228045945!*//*1445884601,*/

.sp_G8j6bUE03KD{background-image:url(/rsrc.php/v2/yA/r/x-TXImqzLXi.png);background-size:161px 174px;background-repeat:no-repeat;display:inline-block;height:160px;width:160px}.sp_G8j6bUE03KD.sx_a093bc{background-position:0 0}.sp_G8j6bUE03KD.sx_5bb54c{width:12px;height:12px;background-position:0 -161px}.sp_G8j6bUE03KD.sx_c54161{width:9px;height:8px;background-position:-13px -161px}

#bootloader_CysBl { height: 42px; }
.bootloader_CysBl { display:block !important; }