/*!CK:3627412061!*//*1445874040,*/

.sp_re7CZU-BU3Y{background-image:url(/rsrc.php/v2/yD/r/8nC-NUFkY6d.png);background-size:17px 70px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_re7CZU-BU3Y.sx_7163ad{background-position:0 0}.sp_re7CZU-BU3Y.sx_76c1d6{width:1px;height:1px;background-position:0 -68px}.sp_re7CZU-BU3Y.sx_fc4984{background-position:0 -17px}.sp_re7CZU-BU3Y.sx_c6f28c{background-position:0 -34px}.sp_re7CZU-BU3Y.sx_f53fa5{background-position:0 -51px}

#bootloader_hwBvV { height: 42px; }
.bootloader_hwBvV { display:block !important; }