/*!CK:1652914174!*//*1445873418,*/

.sp_FRrKLSiUnX1{background-image:url(/rsrc.php/v2/yJ/r/x12Tmdb34eh.png);background-size:121px 197px;background-repeat:no-repeat;display:inline-block;height:120px;width:120px}.sp_FRrKLSiUnX1.sx_2b8867{background-position:0 0}.sp_FRrKLSiUnX1.sx_847197{width:75px;height:75px;background-position:0 -121px}.sp_FRrKLSiUnX1.sx_50f87f{width:16px;height:16px;background-position:-76px -121px}

#bootloader_ysVmR { height: 42px; }
.bootloader_ysVmR { display:block !important; }